[submodule "vendor/obp"]
	path = vendor/obp
	url = git@github.com:khoralabs/open-binding-protocol.git
[submodule "vendor/relay"]
	path = vendor/relay
	url = git@github.com:khoralabs/relay.git
[submodule "vendor/libs"]
	path = vendor/libs
	url = git@github.com:khoralabs/libs.git
